@tailwind base;
@tailwind components;

@font-face {
  font-family: "IRANYekan";
  src: url("../assets/fonts/IRANYekanWebMedium.ttf") format("truetype");
  src: url("../assets/fonts/IRANYekanWebMedium.eot") format("embedded-opentype"),
    url("../assets/fonts/IRANYekanWebMedium.woff2") format("woff2"),
    url("../assets/fonts/IRANYekanWebMedium.woff") format("woff"),
    url("../assets/fonts/IRANYekanWebMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IRANYekan";
  src: url("../assets/fonts/IRANYekanWebBold.ttf") format("truetype");
  src: url("../assets/fonts/IRANYekanWebBold.eot") format("embedded-opentype"),
    url("../assets/fonts/IRANYekanWebBold.woff2") format("woff2"),
    url("../assets/fonts/IRANYekanWebBold.woff") format("woff"),
    url("../assets/fonts/IRANYekanWebBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "IRANYekan";
  src: url("../assets/fonts/IRANYekanWebLight.ttf") format("truetype");
  src: url("../assets/fonts/IRANYekanWebLight.eot") format("embedded-opentype"),
    url("../assets/fonts/IRANYekanWebLight.woff2") format("woff2"),
    url("../assets/fonts/IRANYekanWebLight.woff") format("woff"),
    url("../assets/fonts/IRANYekanWebLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IRANYekan";
  src: url("../assets/fonts/IRANYekanWebThin.ttf") format("truetype");
  src: url("../assets/fonts/IRANYekanWebThin.eot") format("embedded-opentype"),
    url("../assets/fonts/IRANYekanWebThin.woff2") format("woff2"),
    url("../assets/fonts/IRANYekanWebThin.woff") format("woff"),
    url("../assets/fonts/IRANYekanWebThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
* :not(i),
[class^="ant"] {
  font-family: "IRANYekan";
}

@tailwind utilities;

*:focus-within,
html:focus-within,
body:focus-within {
  outline: none !important;
  outline-offset: 0 !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-appearance: none !important;
}

.glass-style {
  background: rgba(255, 255, 255, 0.48);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
}

/* Ant Modal */
.ant-modal {
  border-radius: 0.5rem !important;
}

.ant-modal-content {
  background: linear-gradient(35deg, #575757, #969696) !important;
}

.ant-modal-header {
  background: transparent !important;
}

/* PAGINATION Styles */

.ant-pagination li button {
  color: white !important;
}

.ant-pagination .ant-pagination-disabled button {
  color: gray !important;
}

.ant-pagination .ant-pagination-item {
  border: 1px solid white;
  background: transparent;
  color: white;
}

.ant-pagination .ant-pagination-item.ant-pagination-item-active {
  border: none;
  background: white;
}

.ant-pagination .ant-pagination-item.ant-pagination-item-active a {
  color: black;
}

.ant-pagination .ant-pagination-item a {
  color: white;
}

.ant-pagination .ant-pagination-item:hover {
  color: white;
}
/* ANT Typography Styles */

.empty .ant-typography,
.recommendation .ant-typography,
.movie-slider-container .ant-typography,
.card .details .ant-typography,
.scoring .ant-typography {
  color: white !important;
}

/* SLIDER Styles */

.movieSlider .slick-list {
  padding: 0.5rem 0;
}

/* POSTER Styles */
.card {
  width: 10rem;
  height: 15rem;
}

.poster {
  position: relative;
  overflow: hidden;
}

.poster::before {
  content: "";
  position: absolute;
  bottom: -120px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #0b0c11cc 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}
.card:hover .poster::before {
  bottom: 0;
}
.card .poster img {
  transition: 0.5s;
}

.card:hover .poster img {
  transform: translateY(-50px) !important;
  filter: blur(3px) !important;
}

.card:hover .details {
  bottom: 10px;
}

.card .details {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 50%;
  width: 90%;
  padding: 0.2rem 1rem;
  z-index: 2;
  transition: 0.5s;
  text-align: right;
  margin: auto;
  transform: translateX(-50%);
}

.card .details .overview {
  display: none;
}

.card:hover .details .overview {
  display: block;
}

/* MOVIES LIST Styles */

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 2rem;
}
